<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.temochka.alfred.process</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>08C859CE-E4D7-4781-AB08-1CA1526072DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D49E966-8E1E-4990-A097-62C4A1E4B1E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B94FD960-48ED-4D44-80FC-6EC955655991</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>231FFF23-86C7-4E62-98EA-E4FD0544A81D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D5EE290-EBB6-4F33-95A2-3DDD0A0CF359</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24F33625-57E7-4AC3-BE3B-5763DC974E44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83CD2033-1737-438B-B4BE-51067258734F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38B471A4-DEFB-4E57-8DF7-18674A9EE94E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13A15C1A-9875-4307-BAC5-687F781B31E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47AA8EE1-420B-4EB5-B52B-A112371868E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>455056F0-7B1F-4546-BBA3-628B58C75841</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51F8B285-CD19-45C0-BF57-B73C73ADC88C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAA88374-72BA-44A0-84FC-E489C4AB85E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7429D8D9-E915-4961-B131-27404489F47B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FBFAE0C-630B-4505-8385-873C80CEACF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95F9E365-6F5D-4D2E-A383-EB2033489E12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56ADC754-1FA5-4597-8EC5-0C9689360FB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D49E966-8E1E-4990-A097-62C4A1E4B1E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>892B4FA4-38BA-4363-B137-BEF9E27D36C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAA88374-72BA-44A0-84FC-E489C4AB85E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6F45BE8-CBBC-4D98-9791-FD50397BDF82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFF8F983-58A5-45E3-9368-F332D47A64EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B31B2832-E4A7-4796-9AB7-79B379843899</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6F45BE8-CBBC-4D98-9791-FD50397BDF82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95F9E365-6F5D-4D2E-A383-EB2033489E12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Artem Chistyakov</string>
	<key>description</key>
	<string>A collection of workflows by Artem Chistyakov</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Process</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>nowl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching links…</string>
				<key>script</key>
				<string>./assets/calendar links
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Jump to a link in current/upcoming Calendar events.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>47AA8EE1-420B-4EB5-B52B-A112371868E4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>455056F0-7B1F-4546-BBA3-628B58C75841</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
	var input = JSON.parse(argv);
	var {eventId, calendarId} = input;
	var Calendar = Application("Calendar");
	Calendar.switchView({to: "day view"});
	Calendar.viewCalendar({at: new Date()});

	if (eventId) {
		var event = Calendar.calendars.byId(calendarId).events.byId(eventId);
		Calendar.show(event);
	}
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>13A15C1A-9875-4307-BAC5-687F781B31E8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>nowc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching events…</string>
				<key>script</key>
				<string>./assets/calendar events</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Jump to a current/upcoming event in Calendar.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>38B471A4-DEFB-4E57-8DF7-18674A9EE94E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nown</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jump to today's note</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>231FFF23-86C7-4E62-98EA-E4FD0544A81D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>property DAILY_NOTES_FOLDER : "🗓 Daily Notes"

on alfred_script(q)
tell application "Notes"	set currentDate to do shell script "date +%F"	set noteTitle to currentDate &amp; " - Daily Note"	try		set theNote to first note in folder DAILY_NOTES_FOLDER whose name = noteTitle	on error		set noteBody to "&lt;html&gt;&lt;body&gt;&lt;div&gt;&lt;h1&gt;" &amp; noteTitle &amp; "&lt;/h1&gt;&lt;ul&gt;&lt;li&gt;&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;&lt;/div&gt;&lt;/body&gt;&lt;/html&gt;"		set theNote to make new note in folder DAILY_NOTES_FOLDER in default account with properties {body:noteBody}	end try	show theNoteend tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>1D5EE290-EBB6-4F33-95A2-3DDD0A0CF359</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B31B2832-E4A7-4796-9AB7-79B379843899</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat ~/.alfred/gh-bookmarks.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Jump to GitHub repo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DFF8F983-58A5-45E3-9368-F332D47A64EE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gh-refresh</string>
				<key>subtext</key>
				<string>Will ask for your personal GitHub token</string>
				<key>text</key>
				<string>Refresh GitHub bookmarks</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>08C859CE-E4D7-4781-AB08-1CA1526072DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./refresh_repos.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./assets/github.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D49E966-8E1E-4990-A097-62C4A1E4B1E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Refresh completed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>892B4FA4-38BA-4363-B137-BEF9E27D36C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>This takes some time</string>
				<key>title</key>
				<string>Refreshing bookmarks in the background</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B94FD960-48ED-4D44-80FC-6EC955655991</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>42</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>\</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>24F33625-57E7-4AC3-BE3B-5763DC974E44</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://duckduckgo.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>83CD2033-1737-438B-B4BE-51067258734F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.Notes</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>51F8B285-CD19-45C0-BF57-B73C73ADC88C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo "&lt;a href=\"$1\"&gt;$selection&lt;/a&gt;" | textutil -inputencoding UTF-8 -format html -convert rtf -stdin -stdout | LC_CTYPE=UTF-8 pbcopy</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>95F9E365-6F5D-4D2E-A383-EB2033489E12</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "Hook"	set theNoteHook to bookmark from active windowend telltell application "OmniFocus"	activate	tell front document		set theTask to make new inbox task with properties {name:q}
		set theTaskUrl to "omnifocus:///task/" &amp; (id of theTask)		GetURL theTaskUrl	end tellend telltell application "Hook"	set theTaskHook to bookmark from active window	hook theNoteHook and theTaskHookend telltell application "Notes"	activateend tell

return theTaskUrl

end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E6F45BE8-CBBC-4D98-9791-FD50397BDF82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>56ADC754-1FA5-4597-8EC5-0C9689360FB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>selection</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BAA88374-72BA-44A0-84FC-E489C4AB85E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gem</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open '{query}' on rubygems.org</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7429D8D9-E915-4961-B131-27404489F47B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://rubygems.org/gems/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6FBFAE0C-630B-4505-8385-873C80CEACF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A collection of various productivity shorctus created by Artem Chistyakov (https://temochka.com).

CHANGELOG

- 1.1.0 - Updated icons, improved calendar script, added README</string>
	<key>uidata</key>
	<dict>
		<key>08C859CE-E4D7-4781-AB08-1CA1526072DE</key>
		<dict>
			<key>note</key>
			<string>Update the list of available GitHub repos.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>13A15C1A-9875-4307-BAC5-687F781B31E8</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>1D5EE290-EBB6-4F33-95A2-3DDD0A0CF359</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>231FFF23-86C7-4E62-98EA-E4FD0544A81D</key>
		<dict>
			<key>note</key>
			<string>Jump to today’s note in Notes.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>24F33625-57E7-4AC3-BE3B-5763DC974E44</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Launch the default browser</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>945</integer>
		</dict>
		<key>38B471A4-DEFB-4E57-8DF7-18674A9EE94E</key>
		<dict>
			<key>note</key>
			<string>Jump to current/upcoming events in Calendar.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>455056F0-7B1F-4546-BBA3-628B58C75841</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>47AA8EE1-420B-4EB5-B52B-A112371868E4</key>
		<dict>
			<key>note</key>
			<string>Jump to links in current/upcoming Calendar events.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>51F8B285-CD19-45C0-BF57-B73C73ADC88C</key>
		<dict>
			<key>note</key>
			<string>Transform a notes selection into a linked (and “Hooked”) OmniFocus task.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>1115</integer>
		</dict>
		<key>56ADC754-1FA5-4597-8EC5-0C9689360FB6</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>1115</integer>
		</dict>
		<key>6FBFAE0C-630B-4505-8385-873C80CEACF9</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>1310</integer>
		</dict>
		<key>7429D8D9-E915-4961-B131-27404489F47B</key>
		<dict>
			<key>note</key>
			<string>Jump to a Ruby gem by name.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>1310</integer>
		</dict>
		<key>83CD2033-1737-438B-B4BE-51067258734F</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>945</integer>
		</dict>
		<key>892B4FA4-38BA-4363-B137-BEF9E27D36C8</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>95F9E365-6F5D-4D2E-A383-EB2033489E12</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>1115</integer>
		</dict>
		<key>9D49E966-8E1E-4990-A097-62C4A1E4B1E4</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>B31B2832-E4A7-4796-9AB7-79B379843899</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>B94FD960-48ED-4D44-80FC-6EC955655991</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>815</integer>
		</dict>
		<key>BAA88374-72BA-44A0-84FC-E489C4AB85E4</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>1145</integer>
		</dict>
		<key>DFF8F983-58A5-45E3-9368-F332D47A64EE</key>
		<dict>
			<key>note</key>
			<string>Jump to one of your GitHub repos.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>E6F45BE8-CBBC-4D98-9791-FD50397BDF82</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>1115</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>GITHUB_TOKEN</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>GITHUB_TOKEN</string>
	</array>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://temochka.com</string>
</dict>
</plist>
