<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.temochka.alfred.process</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>08C859CE-E4D7-4781-AB08-1CA1526072DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D49E966-8E1E-4990-A097-62C4A1E4B1E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B94FD960-48ED-4D44-80FC-6EC955655991</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24F33625-57E7-4AC3-BE3B-5763DC974E44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83CD2033-1737-438B-B4BE-51067258734F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25E39617-779E-4F95-A75C-3D9CE029926E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29559846-FB8F-493F-BC8F-D32F9A9E9FBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29559846-FB8F-493F-BC8F-D32F9A9E9FBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9EE16344-0E81-4B1C-AF73-70DC25251CBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7BBE72B6-F4B4-4709-A78F-555EA2B3C416</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B43BEE4-8D16-4118-9588-0A015C6B0671</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29559846-FB8F-493F-BC8F-D32F9A9E9FBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60334227-90E9-4FD7-B3FD-E20CDE05E526</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E01250D1-86A0-46B1-965C-AC31A044F472</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7429D8D9-E915-4961-B131-27404489F47B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FBFAE0C-630B-4505-8385-873C80CEACF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74A9F8C8-7D1B-4C08-9D4D-0256FA2FBEC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8270A01F-663B-4ADB-84F0-C4557D1DCB38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8270A01F-663B-4ADB-84F0-C4557D1DCB38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B43BEE4-8D16-4118-9588-0A015C6B0671</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>860B0E10-B988-46B6-9661-6E76D127A8FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60334227-90E9-4FD7-B3FD-E20CDE05E526</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86AAC16C-25E7-43AD-8E55-57881E2F794C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ACA09749-533A-4D00-825B-C3EB1E396111</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F98715A-BCA5-48A2-AF31-87339EC00276</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA1EFB48-38A4-4C59-BB21-79F91926D8E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91AACB98-F18E-48FD-8113-944B4641A118</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A0385EE-BFDA-41ED-9365-D4EBE341E4DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97C65069-414E-460E-B4BD-6449492CB285</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA1EFB48-38A4-4C59-BB21-79F91926D8E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A0385EE-BFDA-41ED-9365-D4EBE341E4DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF3180E5-F604-4155-ACFD-41D4BE15A379</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D49E966-8E1E-4990-A097-62C4A1E4B1E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>892B4FA4-38BA-4363-B137-BEF9E27D36C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3FE8ADC-AF4B-467E-ABFC-6C16124E4816</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97C65069-414E-460E-B4BD-6449492CB285</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BDBD7D0F-18FE-4CAD-BA8E-F75C1BA623FC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EA1EFB48-38A4-4C59-BB21-79F91926D8E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8F98715A-BCA5-48A2-AF31-87339EC00276</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8992C968-BBDB-4464-8DAA-3A779F2F2AD5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFF8F983-58A5-45E3-9368-F332D47A64EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B31B2832-E4A7-4796-9AB7-79B379843899</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F244E7D1-A9D1-4EA6-AC3E-45BE0BAAD8BA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy repository URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E01250D1-86A0-46B1-965C-AC31A044F472</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3FE8ADC-AF4B-467E-ABFC-6C16124E4816</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF3180E5-F604-4155-ACFD-41D4BE15A379</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E01250D1-86A0-46B1-965C-AC31A044F472</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE1D08CA-EEFB-476C-A302-CAF7A5D48503</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E01250D1-86A0-46B1-965C-AC31A044F472</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Artem Chistyakov</string>
	<key>description</key>
	<string>A collection of workflows by Artem Chistyakov</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Process</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B31B2832-E4A7-4796-9AB7-79B379843899</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat ~/.alfred/gh-bookmarks.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Jump to GitHub repo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DFF8F983-58A5-45E3-9368-F332D47A64EE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F244E7D1-A9D1-4EA6-AC3E-45BE0BAAD8BA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gh-refresh</string>
				<key>subtext</key>
				<string>Will ask for your personal GitHub token</string>
				<key>text</key>
				<string>Refresh GitHub bookmarks</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>08C859CE-E4D7-4781-AB08-1CA1526072DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./refresh_repos.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./assets/github.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D49E966-8E1E-4990-A097-62C4A1E4B1E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Refresh completed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>892B4FA4-38BA-4363-B137-BEF9E27D36C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>This takes some time</string>
				<key>title</key>
				<string>Refreshing bookmarks in the background</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B94FD960-48ED-4D44-80FC-6EC955655991</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>42</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>\</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>24F33625-57E7-4AC3-BE3B-5763DC974E44</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://duckduckgo.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>83CD2033-1737-438B-B4BE-51067258734F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://rubygems.org/gems/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6FBFAE0C-630B-4505-8385-873C80CEACF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gem</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open '{query}' on rubygems.org</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7429D8D9-E915-4961-B131-27404489F47B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  set tmpfile to (do shell script "mktemp")

  try
    set fhandle to open for access tmpfile with write permission
    write (the clipboard as «class PNGf») to fhandle
    close access fhandle
    tmpfile
  on error errMsg number n
    if n = -1700 then -- Not a PNG clibpoard
      display dialog "The clibpoard is not a PNG image." buttons {"OK"}
    end if
    try
      close access tmpfile
    end try
    
    ""
  end try
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>8270A01F-663B-4ADB-84F0-C4557D1DCB38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>imglink</string>
				<key>subtext</key>
				<string>(and paste to the frontmost app)</string>
				<key>text</key>
				<string>Get a shareable link to the clipped image file</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>74A9F8C8-7D1B-4C08-9D4D-0256FA2FBEC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2B43BEE4-8D16-4118-9588-0A015C6B0671</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9EE16344-0E81-4B1C-AF73-70DC25251CBB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -e

query=$1
filename="$(md5 -q "$query").png"
url="https://${IMAGE_UPLOAD_HOSTNAME}/${filename}"
chmod 540 "$query"
scp "$query" "${IMAGE_UPLOAD_SSH_USER}@${IMAGE_UPLOAD_SSH_HOSTNAME}:${IMAGE_UPLOAD_WEBROOT_PATH}/${filename}"

echo $url</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>29559846-FB8F-493F-BC8F-D32F9A9E9FBA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Get a shareable link</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>25E39617-779E-4F95-A75C-3D9CE029926E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Image URL copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7BBE72B6-F4B4-4709-A78F-555EA2B3C416</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>script</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>FE1D08CA-EEFB-476C-A302-CAF7A5D48503</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

osascript "$SCRIPTS_DIR/$focusedapp/$filter_script" $query
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>97C65069-414E-460E-B4BD-6449492CB285</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading scripts for {var:focusedapp}...</string>
				<key>script</key>
				<string>set -e

app_dir="$focusedapp"

cd $SCRIPTS_DIR

if [ -d $app_dir ]; then
	cat $app_dir/launcher.json
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Run script</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>60334227-90E9-4FD7-B3FD-E20CDE05E526</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>44</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>/</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>860B0E10-B988-46B6-9661-6E76D127A8FB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:filter_script}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.+</string>
						<key>outputlabel</key>
						<string>filter_script</string>
						<key>uid</key>
						<string>BDBD7D0F-18FE-4CAD-BA8E-F75C1BA623FC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:alfred_filter_script}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.+</string>
						<key>outputlabel</key>
						<string>alfred_filter_script</string>
						<key>uid</key>
						<string>8992C968-BBDB-4464-8DAA-3A779F2F2AD5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D3FE8ADC-AF4B-467E-ABFC-6C16124E4816</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript "$SCRIPTS_DIR/$focusedapp/$script" $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EA1EFB48-38A4-4C59-BB21-79F91926D8E2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>script</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E01250D1-86A0-46B1-965C-AC31A044F472</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

osascript "$SCRIPTS_DIR/$focusedapp/$alfred_filter_script" $query
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8F98715A-BCA5-48A2-AF31-87339EC00276</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>@</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>91AACB98-F18E-48FD-8113-944B4641A118</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>proc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'json'

items = []

Dir.glob(File.join(ENV.fetch('SCRIPTS_DIR'), '*', 'launcher.json')).each do |f|
	items += JSON.parse(File.read(f), symbolize_names: true)
		.fetch(:items)
		.select { |item| item[:keyword] }
		.sort_by { |item| item[:keyword] }
		.map do |item|
			item[:match] = item[:keyword]
			item[:title] = "#{item[:keyword]} - #{item[:title]}"
			item[:variables] ||= {}
			item[:variables][:focusedapp] = File.basename(File.dirname(f))
			item
		end
end

puts JSON.pretty_generate(items: items)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Run a Process keyword 'now{query}'</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EF3180E5-F604-4155-ACFD-41D4BE15A379</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9A0385EE-BFDA-41ED-9365-D4EBE341E4DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>ACA09749-533A-4D00-825B-C3EB1E396111</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>open_file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>86AAC16C-25E7-43AD-8E55-57881E2F794C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A collection of various productivity shorctus created by Artem Chistyakov (https://temochka.com).

CHANGELOG

- 3.3.0 - Add "copy repository URL" for the GitHub workflow.
- 3.2.0 - Added a trigger for the script launcher.
- 3.1.0 - Added an open file action with a corresponding trigger.
- 3.0.0 - Changed keyword to proc. Added optional snippet trigger.
- 2.0.0 - Removed app-specific automations (Notes, Calendar, etc.). Can still be run as individual scripts via the improved launcher.
- 1.4.0 - Added a "Move Note(s)" shortcut.
- 1.3.0 - Added a custom AppleScript launcher.
- 1.2.1 - Added documentation for the image sharing workflow.
- 1.2.0 - Added an image sharing workflow that works with my personal image sharing hosting.
- 1.1.0 - Updated icons, improved calendar script, added README.</string>
	<key>uidata</key>
	<dict>
		<key>08C859CE-E4D7-4781-AB08-1CA1526072DE</key>
		<dict>
			<key>note</key>
			<string>Update the list of available GitHub repos.</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>24F33625-57E7-4AC3-BE3B-5763DC974E44</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Launch the default browser</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>25E39617-779E-4F95-A75C-3D9CE029926E</key>
		<dict>
			<key>note</key>
			<string>Get a shareable link to the selected image file.</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1060</integer>
		</dict>
		<key>29559846-FB8F-493F-BC8F-D32F9A9E9FBA</key>
		<dict>
			<key>note</key>
			<string>Upload the file, output the URL.</string>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>1060</integer>
		</dict>
		<key>2B43BEE4-8D16-4118-9588-0A015C6B0671</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>915</integer>
		</dict>
		<key>60334227-90E9-4FD7-B3FD-E20CDE05E526</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1410</integer>
		</dict>
		<key>6FBFAE0C-630B-4505-8385-873C80CEACF9</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>7429D8D9-E915-4961-B131-27404489F47B</key>
		<dict>
			<key>note</key>
			<string>Jump to a Ruby gem by name.</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>74A9F8C8-7D1B-4C08-9D4D-0256FA2FBEC7</key>
		<dict>
			<key>note</key>
			<string>Get a shareable link to the clipped image file</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>885</integer>
		</dict>
		<key>7BBE72B6-F4B4-4709-A78F-555EA2B3C416</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>1130</integer>
		</dict>
		<key>8270A01F-663B-4ADB-84F0-C4557D1DCB38</key>
		<dict>
			<key>note</key>
			<string>Save clipboard contents to a temporary file.</string>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>885</integer>
		</dict>
		<key>83CD2033-1737-438B-B4BE-51067258734F</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>860B0E10-B988-46B6-9661-6E76D127A8FB</key>
		<dict>
			<key>note</key>
			<string>Run a script for the currently focused app.</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1410</integer>
		</dict>
		<key>86AAC16C-25E7-43AD-8E55-57881E2F794C</key>
		<dict>
			<key>note</key>
			<string>Open a file in Alfred (primarily useful for viewing Contacts)</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1745</integer>
		</dict>
		<key>892B4FA4-38BA-4363-B137-BEF9E27D36C8</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>8F98715A-BCA5-48A2-AF31-87339EC00276</key>
		<dict>
			<key>note</key>
			<string>Run the script once and let Alfred filter results.</string>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>1510</integer>
		</dict>
		<key>91AACB98-F18E-48FD-8113-944B4641A118</key>
		<dict>
			<key>note</key>
			<string>Run a script via snippet</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1575</integer>
		</dict>
		<key>97C65069-414E-460E-B4BD-6449492CB285</key>
		<dict>
			<key>note</key>
			<string>Show Alfred filter and run the script on every keypress.</string>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>1325</integer>
		</dict>
		<key>9A0385EE-BFDA-41ED-9365-D4EBE341E4DD</key>
		<dict>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>1605</integer>
		</dict>
		<key>9D49E966-8E1E-4990-A097-62C4A1E4B1E4</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>9EE16344-0E81-4B1C-AF73-70DC25251CBB</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>995</integer>
		</dict>
		<key>ACA09749-533A-4D00-825B-C3EB1E396111</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>1745</integer>
		</dict>
		<key>B31B2832-E4A7-4796-9AB7-79B379843899</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>B94FD960-48ED-4D44-80FC-6EC955655991</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>D3FE8ADC-AF4B-467E-ABFC-6C16124E4816</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>1415</integer>
		</dict>
		<key>DFF8F983-58A5-45E3-9368-F332D47A64EE</key>
		<dict>
			<key>note</key>
			<string>Jump to one of your GitHub repos.</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>E01250D1-86A0-46B1-965C-AC31A044F472</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>1440</integer>
		</dict>
		<key>EA1EFB48-38A4-4C59-BB21-79F91926D8E2</key>
		<dict>
			<key>note</key>
			<string>Run the specified AppleScript.</string>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>1435</integer>
		</dict>
		<key>EF3180E5-F604-4155-ACFD-41D4BE15A379</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1575</integer>
		</dict>
		<key>F244E7D1-A9D1-4EA6-AC3E-45BE0BAAD8BA</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>FE1D08CA-EEFB-476C-A302-CAF7A5D48503</key>
		<dict>
			<key>note</key>
			<string>Trigger a script externally</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1255</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>GITHUB_TOKEN</key>
		<string></string>
		<key>IMAGE_UPLOAD_HOSTNAME</key>
		<string></string>
		<key>IMAGE_UPLOAD_SSH_HOSTNAME</key>
		<string></string>
		<key>IMAGE_UPLOAD_SSH_USER</key>
		<string></string>
		<key>IMAGE_UPLOAD_WEBROOT_PATH</key>
		<string></string>
		<key>SCRIPTS_DIR</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>GITHUB_TOKEN</string>
		<string>IMAGE_UPLOAD_HOSTNAME</string>
		<string>SCRIPTS_DIR</string>
		<string>IMAGE_UPLOAD_SSH_HOSTNAME</string>
		<string>IMAGE_UPLOAD_WEBROOT_PATH</string>
		<string>IMAGE_UPLOAD_SSH_USER</string>
	</array>
	<key>version</key>
	<string>3.3.0</string>
	<key>webaddress</key>
	<string>https://temochka.com</string>
</dict>
</plist>
