<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.temochka.alfred.process</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>08C859CE-E4D7-4781-AB08-1CA1526072DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D49E966-8E1E-4990-A097-62C4A1E4B1E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B94FD960-48ED-4D44-80FC-6EC955655991</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>231FFF23-86C7-4E62-98EA-E4FD0544A81D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D5EE290-EBB6-4F33-95A2-3DDD0A0CF359</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24F33625-57E7-4AC3-BE3B-5763DC974E44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83CD2033-1737-438B-B4BE-51067258734F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25E39617-779E-4F95-A75C-3D9CE029926E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29559846-FB8F-493F-BC8F-D32F9A9E9FBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29559846-FB8F-493F-BC8F-D32F9A9E9FBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9EE16344-0E81-4B1C-AF73-70DC25251CBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7BBE72B6-F4B4-4709-A78F-555EA2B3C416</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B43BEE4-8D16-4118-9588-0A015C6B0671</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29559846-FB8F-493F-BC8F-D32F9A9E9FBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38B471A4-DEFB-4E57-8DF7-18674A9EE94E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13A15C1A-9875-4307-BAC5-687F781B31E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47AA8EE1-420B-4EB5-B52B-A112371868E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>455056F0-7B1F-4546-BBA3-628B58C75841</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5188B463-C443-4160-8D7E-50FFB375ACC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA05E36E-C4CE-441A-BC55-32A285A92C56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51F8B285-CD19-45C0-BF57-B73C73ADC88C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAA88374-72BA-44A0-84FC-E489C4AB85E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60334227-90E9-4FD7-B3FD-E20CDE05E526</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA1EFB48-38A4-4C59-BB21-79F91926D8E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7429D8D9-E915-4961-B131-27404489F47B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FBFAE0C-630B-4505-8385-873C80CEACF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74A9F8C8-7D1B-4C08-9D4D-0256FA2FBEC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8270A01F-663B-4ADB-84F0-C4557D1DCB38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8270A01F-663B-4ADB-84F0-C4557D1DCB38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B43BEE4-8D16-4118-9588-0A015C6B0671</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>860B0E10-B988-46B6-9661-6E76D127A8FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60334227-90E9-4FD7-B3FD-E20CDE05E526</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95F9E365-6F5D-4D2E-A383-EB2033489E12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56ADC754-1FA5-4597-8EC5-0C9689360FB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D49E966-8E1E-4990-A097-62C4A1E4B1E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>892B4FA4-38BA-4363-B137-BEF9E27D36C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA05E36E-C4CE-441A-BC55-32A285A92C56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CAD5FBC-89CD-4BC1-B4D9-EB45D9BCD879</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAA88374-72BA-44A0-84FC-E489C4AB85E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6F45BE8-CBBC-4D98-9791-FD50397BDF82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFF8F983-58A5-45E3-9368-F332D47A64EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B31B2832-E4A7-4796-9AB7-79B379843899</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6F45BE8-CBBC-4D98-9791-FD50397BDF82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95F9E365-6F5D-4D2E-A383-EB2033489E12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Artem Chistyakov</string>
	<key>description</key>
	<string>A collection of workflows by Artem Chistyakov</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Process</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>nowl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching links…</string>
				<key>script</key>
				<string>./assets/calendar links
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Jump to a link in current/upcoming Calendar events.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>47AA8EE1-420B-4EB5-B52B-A112371868E4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>455056F0-7B1F-4546-BBA3-628B58C75841</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>nowc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching events…</string>
				<key>script</key>
				<string>./assets/calendar events</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Jump to a current/upcoming event in Calendar.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>38B471A4-DEFB-4E57-8DF7-18674A9EE94E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
	var input = JSON.parse(argv);
	var {eventId, calendarId} = input;
	var Calendar = Application("Calendar");
	Calendar.switchView({to: "day view"});
	Calendar.viewCalendar({at: new Date()});

	if (eventId) {
		var event = Calendar.calendars.byId(calendarId).events.byId(eventId);
		Calendar.show(event);
	}
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>13A15C1A-9875-4307-BAC5-687F781B31E8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>property DAILY_NOTES_FOLDER : "🗓 Daily Notes"

on alfred_script(q)
tell application "Notes"	set currentDate to do shell script "date +%F"	set noteTitle to currentDate &amp; " - Daily Note"	try		set theNote to first note in folder DAILY_NOTES_FOLDER whose name = noteTitle	on error		set noteBody to "&lt;html&gt;&lt;body&gt;&lt;div&gt;&lt;h1&gt;" &amp; noteTitle &amp; "&lt;/h1&gt;&lt;ul&gt;&lt;li&gt;&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;&lt;/div&gt;&lt;/body&gt;&lt;/html&gt;"		set theNote to make new note in folder DAILY_NOTES_FOLDER in default account with properties {body:noteBody}	end try	show theNoteend tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>1D5EE290-EBB6-4F33-95A2-3DDD0A0CF359</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nown</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jump to today's note</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>231FFF23-86C7-4E62-98EA-E4FD0544A81D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat ~/.alfred/gh-bookmarks.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Jump to GitHub repo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DFF8F983-58A5-45E3-9368-F332D47A64EE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B31B2832-E4A7-4796-9AB7-79B379843899</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gh-refresh</string>
				<key>subtext</key>
				<string>Will ask for your personal GitHub token</string>
				<key>text</key>
				<string>Refresh GitHub bookmarks</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>08C859CE-E4D7-4781-AB08-1CA1526072DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Refresh completed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>892B4FA4-38BA-4363-B137-BEF9E27D36C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./refresh_repos.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./assets/github.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D49E966-8E1E-4990-A097-62C4A1E4B1E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>This takes some time</string>
				<key>title</key>
				<string>Refreshing bookmarks in the background</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B94FD960-48ED-4D44-80FC-6EC955655991</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://duckduckgo.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>83CD2033-1737-438B-B4BE-51067258734F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>42</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>\</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>24F33625-57E7-4AC3-BE3B-5763DC974E44</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo "&lt;a href=\"$1\"&gt;$selection&lt;/a&gt;" | textutil -inputencoding UTF-8 -format html -convert rtf -stdin -stdout | LC_CTYPE=UTF-8 pbcopy</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>95F9E365-6F5D-4D2E-A383-EB2033489E12</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>56ADC754-1FA5-4597-8EC5-0C9689360FB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "Hook"	set theNoteHook to bookmark from active windowend telltell application "OmniFocus"	activate	tell front document		set theTask to make new inbox task with properties {name:q}
		set theTaskUrl to "omnifocus:///task/" &amp; (id of theTask)		GetURL theTaskUrl	end tellend telltell application "Hook"	set theTaskHook to bookmark from active window	hook theNoteHook and theTaskHookend telltell application "Notes"	activateend tell

return theTaskUrl

end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E6F45BE8-CBBC-4D98-9791-FD50397BDF82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>50</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>`</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.Notes</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>51F8B285-CD19-45C0-BF57-B73C73ADC88C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>selection</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BAA88374-72BA-44A0-84FC-E489C4AB85E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching destination folders...</string>
				<key>script</key>
				<string>function run(argv) {
	var query = argv[0];
	var app = Application('Notes');
	var folders = query ? app.folders.whose({ name: { _contains: query } }) : app.folders;
	return JSON.stringify({
		items: folders().slice(0, 5).map(folder =&gt;
			({ title: folder.name()
			, subtitle: `Move to ${folder.name()}`
			, arg: folder.id()
			})
		)
	})
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Move selected note(s) to another dir</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AA05E36E-C4CE-441A-BC55-32A285A92C56</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.Notes</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5188B463-C443-4160-8D7E-50FFB375ACC2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(folderId)
	tell application "Notes"		set theFolder to folder id folderId		repeat with theNote in (selection as list)			move theNote to theFolder		end repeat	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>0CAD5FBC-89CD-4BC1-B4D9-EB45D9BCD879</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://rubygems.org/gems/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6FBFAE0C-630B-4505-8385-873C80CEACF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gem</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open '{query}' on rubygems.org</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7429D8D9-E915-4961-B131-27404489F47B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  set tmpfile to (do shell script "mktemp")

  try
    set fhandle to open for access tmpfile with write permission
    write (the clipboard as «class PNGf») to fhandle
    close access fhandle
    tmpfile
  on error errMsg number n
    if n = -1700 then -- Not a PNG clibpoard
      display dialog "The clibpoard is not a PNG image." buttons {"OK"}
    end if
    try
      close access tmpfile
    end try
    
    ""
  end try
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>8270A01F-663B-4ADB-84F0-C4557D1DCB38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>imglink</string>
				<key>subtext</key>
				<string>(and paste to the frontmost app)</string>
				<key>text</key>
				<string>Get a shareable link to the clipped image file</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>74A9F8C8-7D1B-4C08-9D4D-0256FA2FBEC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2B43BEE4-8D16-4118-9588-0A015C6B0671</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9EE16344-0E81-4B1C-AF73-70DC25251CBB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -e

query=$1
filename="$(md5 -q "$query").png"
url="https://${IMAGE_UPLOAD_HOSTNAME}/${filename}"
chmod 540 "$query"
scp "$query" "${IMAGE_UPLOAD_SSH_USER}@${IMAGE_UPLOAD_SSH_HOSTNAME}:${IMAGE_UPLOAD_WEBROOT_PATH}/${filename}"

echo $url</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>29559846-FB8F-493F-BC8F-D32F9A9E9FBA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Get a shareable link</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>25E39617-779E-4F95-A75C-3D9CE029926E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Image URL copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7BBE72B6-F4B4-4709-A78F-555EA2B3C416</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript "$SCRIPTS_DIR/$focusedapp/$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EA1EFB48-38A4-4C59-BB21-79F91926D8E2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>44</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>/</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>860B0E10-B988-46B6-9661-6E76D127A8FB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading scripts for {focusedapp}...</string>
				<key>script</key>
				<string>set -e

app_dir="$focusedapp"

cd $SCRIPTS_DIR

if [ -d $app_dir ]; then
	cat $app_dir/launcher.json
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Run script</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>60334227-90E9-4FD7-B3FD-E20CDE05E526</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A collection of various productivity shorctus created by Artem Chistyakov (https://temochka.com).

CHANGELOG

- 1.4.0 - Added a "Move Note(s)" shortcut.
- 1.3.0 - Added a custom AppleScript launcher.
- 1.2.1 - Added documentation for the image sharing workflow.
- 1.2.0 - Added an image sharing workflow that works with my personal image sharing hosting.
- 1.1.0 - Updated icons, improved calendar script, added README.</string>
	<key>uidata</key>
	<dict>
		<key>08C859CE-E4D7-4781-AB08-1CA1526072DE</key>
		<dict>
			<key>note</key>
			<string>Update the list of available GitHub repos.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>0CAD5FBC-89CD-4BC1-B4D9-EB45D9BCD879</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>1305</integer>
		</dict>
		<key>13A15C1A-9875-4307-BAC5-687F781B31E8</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>1D5EE290-EBB6-4F33-95A2-3DDD0A0CF359</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>231FFF23-86C7-4E62-98EA-E4FD0544A81D</key>
		<dict>
			<key>note</key>
			<string>Jump to today’s note in Notes.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>24F33625-57E7-4AC3-BE3B-5763DC974E44</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Launch the default browser</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>945</integer>
		</dict>
		<key>25E39617-779E-4F95-A75C-3D9CE029926E</key>
		<dict>
			<key>note</key>
			<string>Get a shareable link to the selected image file.</string>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>1810</integer>
		</dict>
		<key>29559846-FB8F-493F-BC8F-D32F9A9E9FBA</key>
		<dict>
			<key>note</key>
			<string>Upload the file, output the URL.</string>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>1810</integer>
		</dict>
		<key>2B43BEE4-8D16-4118-9588-0A015C6B0671</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>1665</integer>
		</dict>
		<key>38B471A4-DEFB-4E57-8DF7-18674A9EE94E</key>
		<dict>
			<key>note</key>
			<string>Jump to current/upcoming events in Calendar.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>455056F0-7B1F-4546-BBA3-628B58C75841</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>47AA8EE1-420B-4EB5-B52B-A112371868E4</key>
		<dict>
			<key>note</key>
			<string>Jump to links in current/upcoming Calendar events.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>5188B463-C443-4160-8D7E-50FFB375ACC2</key>
		<dict>
			<key>note</key>
			<string>Move selected note(s) to a specified directory.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>1305</integer>
		</dict>
		<key>51F8B285-CD19-45C0-BF57-B73C73ADC88C</key>
		<dict>
			<key>note</key>
			<string>Transform a notes selection into a linked (and “Hooked”) OmniFocus task.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>1115</integer>
		</dict>
		<key>56ADC754-1FA5-4597-8EC5-0C9689360FB6</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>1115</integer>
		</dict>
		<key>60334227-90E9-4FD7-B3FD-E20CDE05E526</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1980</integer>
		</dict>
		<key>6FBFAE0C-630B-4505-8385-873C80CEACF9</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>1470</integer>
		</dict>
		<key>7429D8D9-E915-4961-B131-27404489F47B</key>
		<dict>
			<key>note</key>
			<string>Jump to a Ruby gem by name.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>1470</integer>
		</dict>
		<key>74A9F8C8-7D1B-4C08-9D4D-0256FA2FBEC7</key>
		<dict>
			<key>note</key>
			<string>Get a shareable link to the clipped image file</string>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>1635</integer>
		</dict>
		<key>7BBE72B6-F4B4-4709-A78F-555EA2B3C416</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>1880</integer>
		</dict>
		<key>8270A01F-663B-4ADB-84F0-C4557D1DCB38</key>
		<dict>
			<key>note</key>
			<string>Save clipboard contents to a temporary file.</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1635</integer>
		</dict>
		<key>83CD2033-1737-438B-B4BE-51067258734F</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>945</integer>
		</dict>
		<key>860B0E10-B988-46B6-9661-6E76D127A8FB</key>
		<dict>
			<key>note</key>
			<string>Run a script for the currently focused app.</string>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>1980</integer>
		</dict>
		<key>892B4FA4-38BA-4363-B137-BEF9E27D36C8</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>95F9E365-6F5D-4D2E-A383-EB2033489E12</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>1115</integer>
		</dict>
		<key>9D49E966-8E1E-4990-A097-62C4A1E4B1E4</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>9EE16344-0E81-4B1C-AF73-70DC25251CBB</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>1745</integer>
		</dict>
		<key>AA05E36E-C4CE-441A-BC55-32A285A92C56</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>1305</integer>
		</dict>
		<key>B31B2832-E4A7-4796-9AB7-79B379843899</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>B94FD960-48ED-4D44-80FC-6EC955655991</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>815</integer>
		</dict>
		<key>BAA88374-72BA-44A0-84FC-E489C4AB85E4</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>1145</integer>
		</dict>
		<key>DFF8F983-58A5-45E3-9368-F332D47A64EE</key>
		<dict>
			<key>note</key>
			<string>Jump to one of your GitHub repos.</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>E6F45BE8-CBBC-4D98-9791-FD50397BDF82</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>1115</integer>
		</dict>
		<key>EA1EFB48-38A4-4C59-BB21-79F91926D8E2</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>1980</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>GITHUB_TOKEN</key>
		<string></string>
		<key>IMAGE_UPLOAD_HOSTNAME</key>
		<string></string>
		<key>IMAGE_UPLOAD_SSH_HOSTNAME</key>
		<string></string>
		<key>IMAGE_UPLOAD_SSH_USER</key>
		<string></string>
		<key>IMAGE_UPLOAD_WEBROOT_PATH</key>
		<string></string>
		<key>SCRIPTS_DIR</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>GITHUB_TOKEN</string>
		<string>IMAGE_UPLOAD_HOSTNAME</string>
		<string>SCRIPTS_DIR</string>
		<string>IMAGE_UPLOAD_SSH_HOSTNAME</string>
		<string>IMAGE_UPLOAD_WEBROOT_PATH</string>
		<string>IMAGE_UPLOAD_SSH_USER</string>
	</array>
	<key>version</key>
	<string>1.4.0</string>
	<key>webaddress</key>
	<string>https://temochka.com</string>
</dict>
</plist>
