<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.temochka.alfred.context</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2267407A-EB08-4F30-BE19-F9FEBB12D883</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA07DFE7-0F85-4B1F-931E-444DBC0C8585</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70986376-876C-4424-BE23-C626AF3897B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F042138-A65B-404C-B615-2FCAC7AB529F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C420945-620E-4914-81A5-281D48F88B6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEC88385-4C67-439C-8479-54FB458CF255</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BEC88385-4C67-439C-8479-54FB458CF255</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Artem Chistyakov</string>
	<key>description</key>
	<string>Jump to current calendar event</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Context</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>nowl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>~/bin/ical-now-links
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Jump to relevant Calendar link</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7C420945-620E-4914-81A5-281D48F88B6B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BEC88385-4C67-439C-8479-54FB458CF255</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>nowc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>~/bin/ical-now</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Jump to upcoming calendar events</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>70986376-876C-4424-BE23-C626AF3897B3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
	var input = JSON.parse(argv);
	var {eventId, calendarId} = input;
	var Calendar = Application("Calendar");
	Calendar.switchView({to: "day view"});
	Calendar.viewCalendar({at: new Date()});

	if (eventId) {
		var event = Calendar.calendars.byId(calendarId).events.byId(eventId);
		Calendar.show(event);
	}
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F042138-A65B-404C-B615-2FCAC7AB529F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>property DAILY_NOTES_FOLDER : "🗓 Daily Notes"

on alfred_script(q)
tell application "Notes"	set currentDate to do shell script "date +%F"	set noteTitle to currentDate &amp; " - Daily Note"	try		set theNote to first note in folder DAILY_NOTES_FOLDER whose name = noteTitle	on error		set noteBody to "&lt;html&gt;&lt;body&gt;&lt;div&gt;&lt;h1&gt;" &amp; noteTitle &amp; "&lt;/h1&gt;&lt;ul&gt;&lt;li&gt;&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;&lt;/div&gt;&lt;/body&gt;&lt;/html&gt;"		set theNote to make new note in folder DAILY_NOTES_FOLDER in default account with properties {body:noteBody}	end try	show theNoteend tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>FA07DFE7-0F85-4B1F-931E-444DBC0C8585</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nown</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Jump to today's note</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2267407A-EB08-4F30-BE19-F9FEBB12D883</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1F042138-A65B-404C-B615-2FCAC7AB529F</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>2267407A-EB08-4F30-BE19-F9FEBB12D883</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>70986376-876C-4424-BE23-C626AF3897B3</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>7C420945-620E-4914-81A5-281D48F88B6B</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>BEC88385-4C67-439C-8479-54FB458CF255</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>FA07DFE7-0F85-4B1F-931E-444DBC0C8585</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://temochka.com</string>
</dict>
</plist>
